[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
flake8 = "*"
pytest = "*"
pytest-vcr = "*"
typing-extensions = "*"
pre-commit = "*"
setuptools-scm = "*"
sphinx = "*"
myst-parser = "*"

[packages]
fiona = "*"
geojson = "*"
click = "*"
requests = "*"

[requires]
python_version = "3.9"
